<h1>Form with save:</h1>
<form action="{% url 'create_user' %}" method="post" enctype="multipart/form-data">
    {{ form_create.as_p }}
    {% csrf_token %}
    <button>Create</button>
</form>


<h1>Custom form / correct way:</h1>
<form action="{% url 'create_user' %}" method="post"  enctype="multipart/form-data">
    {% for field in form_create %}
        <label for="{{ field.id_for_label }}">
            {{ field.label }}

            {% if field.widget_type == "select" %}
                {# {% make_select field=field %}#}
            {% else %}
                {# {% make_input field=field %}#}
                <input type="{{ field.widget_type }}"
                       name="{{ field.html_name }}"
                       id="{{ field.id_for_label }}"
                       class="form-control"
                >
            {% endif %}
        </label>
    {% endfor %}

    {% csrf_token %}

    <button>Create</button>
</form>