body {
    font: 16px/1.5 Helvetica serif;
    background: antiquewhite;
    max-width: 70vw;
}

h1, h2, h3 {
    color: cornflowerblue;
}

p {
    color: darkblue;
}

a {
    text-decoration: none;
    color: darkblue;
}

footer p {
    font-weight: bold;
}

a:hover {
    font-weight: bold;
}